openai
langchain
streamlit
python-dotenv
PyPDF2
huggingface_hub
torch 
torchvision 
torchaudio
transformers
tensorflow

-e .

#pip list
#pip install -r requirements.txt
#pip install tensorflow --default-timeout=1000
